@{
    ViewData["Title"] = "Users";
}
<h2>Vehicles</h2>
<hr />
<section>
    <a class="btn btn-default" asp-action="Edit">Create</a>
</section>
<section>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Plate Number</th>
            <th>Username</th>
            <th>User Point</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var vehicle in ViewBag.Vehicles)
        {
            <tr>
                <td>@vehicle.PlateNumber</td>
                <td>@vehicle.Username</td>
                <td>@vehicle.UserPoint</td>
                <td>
                    <a class="btn btn-default btn-sm" asp-action="Edit" asp-route-id="@vehicle.VehicleId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-action="DeleteCommand" asp-route-id="@vehicle.VehicleId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>